.clock {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px) rotate(-90deg);
  background-image: url("dial.svg");
  background-size: 100%;
}

.hand {
  position: absolute;
  bottom: calc(50% - 20px);
  transform: rotate(0deg);
}

.hand.second-hand {
  width: 6px;
  height: 170px;
  left: calc(50% - 3px);
  background-color: black;
  transform-origin: 3px 150px;
  z-index: 20;
}

.hand.min-hand {
  height: 140px;
  left: calc(50% - 10px);
  transform-origin: 10px 120px;
}

.hand.hour-hand {
  height: 110px;
  left: calc(50% - 8px);
  z-index: 10;
  transform-origin: 8px 90px;
  transform: rotate(0deg);
}

.center-pin {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: calc(50% - 4px);
  left: calc(50% - 4px);
  z-index: 40;
}
