.clock {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url("./minute.png");
    position: relative;

}

.hand.second-hand {
    position: absolute;
    width: 27.59px;
    height: 197.75px;
    top: calc(50% - 90px);
    left: 50%;
    background-color: red;
    transform: rotate(360deg);
}

.hand.min-hand {
    position: absolute;
    width: 27.59px;
    height: 197.75px;
    top: calc(50% - 90px);
    left: 50%;
    background-color: blue;
    transform: rotate(360deg);
}

.hour-dial {
    width: 400px;
    height: 400px;

}